<ms-a-slogan width=100%>
  <div>
    <h2>Keine versteckten Kosten f&#xFC;r Sch&#xFC;ler und Lehrer</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/zgedwnuh/guitar-8011240_1920.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b9e8320f0"></a-picture>
  </div>
  <div>
    <h2>wir stellen direkten Kontakt zwischen Sch&#xFC;lern und Lehrern bereit</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/34knycs3/guitar-756326_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68cad700"></a-picture>
  </div>
  <div>
    <h2>Finde hier deinen zertifizierten Lehrer mit einem Master oder Bachelor in Musikunterricht</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/hnrbbb5j/violin-374096_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68dc1510"></a-picture>
  </div>
  <div>
    <h2>Finde Koriph&#xE4;en der schweizer Musikszene</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/ykkj4tdk/piano-349928_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68e75fb0"></a-picture>
  </div>
  <div>
    <h2>Wir sind der pool f&#xFC;r Musiklehrer (Musik, L&#xE4;den, Instrumentenbauer, Musikstudios, Musikschulen und Veranstalter)</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/gexf3aqf/saxophone-546303_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68f2f870"></a-picture>
  </div>
  <div>
    <h2>Gratis Profile f&#xFC;r alle schweizer Musiklehrer und das f&#xFC;r immer</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/f1ghyorn/drum-set-1839383_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68ff2d70"></a-picture>
  </div>
</ms-a-slogan>
<h1>musigschuel.ch</h1>
<p>Die nationale Plattform für freischaffende Musiklehrer.</p>
<a-input
  inputid="map-search-location"
  placeholder="Bitte geben Sie Ihre Postleitzahl oder Ort ein"
  submit-search="request-map-search"
  search=""
  type=search
  change-listener
  delete-listener
  answer-event-name="map-search"
  active-detail-property-name="searchLocation"
></a-input>
<ms-m-google-maps search-label="Bitte geben Sie ihre Postleitzahl ein" show-search>
<ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/qj0fulap/teacher1.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da05014c952580" lat=47.464275 long=9.040814>
<h2>Davide de Perota</h2>
<p>Klavier und Keyboard, Songwriting, Begleitung von Gesang, Programmieren ...</p>
<a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/davide-de-perota/">...mehr</a>
</ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/qj0fulap/teacher1.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da05014c952580" lat=47.464275 long=9.040814>
<h2>Davide de Perota</h2>
<p>Klavier und Keyboard, Songwriting, Begleitung von Gesang, Programmieren ...</p>
<a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/davide-de-perota/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/1sibwsnx/1688559654.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da05014c9cc6a0" lat=47.498405 long=9.12595>
<h2>Philipp P&#xF6;pperl</h2>
<p>Just beat it<br>Philipp Pöpperl ...</p>
<a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/philipp-poepperl/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/ukvf1at2/1690352754.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da05014ca77500" lat=47.480576 long=9.18872>
  <h2>Peter Gasser</h2>
  <p>Jazz, Punk, Metal<br>Peter Gasser ...</p>
  <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/peter-gasser/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/emvfow0c/roland_schenk.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cde5acedb70" lat=47.272167 long=8.100057>
    <h2>Roland Schenk</h2>
    <p>Jazz, Rock, Klassik<br>Fritz Frosch ...</p>
    <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/fritz-frosch/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/emvfow0c/roland_schenk.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cde5acedb70" lat=47.182903 long=7.7955723>
      <h2>Roland Schenk</h2>
      <p>Jazz, Rock, Klassik<br>Fritz Frosch ...</p>
      <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/fritz-frosch/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/xeady4hf/1688561251.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cdaa0122b00" lat=47.241154 long=8.720361>
        <h2>Billy Wirz</h2>
        <p>Billy Wirz ...</p>
        <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/billy-wirz/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/xeady4hf/1688561251.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cdaa0122b00" lat=47.350845 long=8.5664425>
          <h2>Billy Wirz</h2>
          <p>Billy Wirz ...</p>
          <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/billy-wirz/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/kbgaytj2/1669882401.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cdcccf074e0" lat=47.478367 long=9.479398>
            <h2>Madeleine Rascher</h2>
            <p>Madeleine Rascher ...</p>
            <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/madeleine-rascher/">...mehr</a> </ms-a-g-maps-marker> <ms-a-g-maps-marker img-src="http://musigschuel-dev.schenk-smart-solutions.ch/media/kbgaytj2/1669882401.jpg?width=145&amp;height=145&amp;format=png&amp;quality=80&amp;v=1da0cdcccf074e0" lat=47.478367 long=9.479398>
              <h2>Madeleine Rascher</h2>
              <p>Madeleine Rascher ...</p>
              <a href="http://musigschuel-dev.schenk-smart-solutions.ch/schuluebersicht/madeleine-rascher/">...mehr</a> </ms-a-g-maps-marker>
            </ms-m-google-maps>