<ms-a-slogan width=100%>
  <div>
    <h2>Keine versteckten Kosten f&#xFC;r Sch&#xFC;ler und Lehrer</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/zgedwnuh/guitar-8011240_1920.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b9e8320f0"></a-picture>
  </div>
  <div>
    <h2>wir stellen direkten Kontakt zwischen Sch&#xFC;lern und Lehrern bereit</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/34knycs3/guitar-756326_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68cad700"></a-picture>
  </div>
  <div>
    <h2>Finde hier deinen zertifizierten Lehrer mit einem Master oder Bachelor in Musikunterricht</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/hnrbbb5j/violin-374096_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68dc1510"></a-picture>
  </div>
  <div>
    <h2>Finde Koriph&#xE4;en der schweizer Musikszene</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/ykkj4tdk/piano-349928_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68e75fb0"></a-picture>
  </div>
  <div>
    <h2>Wir sind der pool f&#xFC;r Musiklehrer (Musik, L&#xE4;den, Instrumentenbauer, Musikstudios, Musikschulen und Veranstalter)</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/gexf3aqf/saxophone-546303_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68f2f870"></a-picture>
  </div>
  <div>
    <h2>Gratis Profile f&#xFC;r alle schweizer Musiklehrer und das f&#xFC;r immer</h2>
    <a-picture aspect-ratio="0.667" namespace="picture-cover-" defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/f1ghyorn/drum-set-1839383_1280.jpg?width=1200&amp;height=400&amp;format=png&amp;quality=80&amp;v=1da199b68ff2d70"></a-picture>
  </div>
</ms-a-slogan>
<h1>musigschuel.ch</h1>
<p>Die nationale Plattform für freischaffende Musiklehrer.</p>
<ms-c-teachers endpoint="http://musigschuel-dev.schenk-smart-solutions.ch/api/teachers" lang="de-CH">
  <a-input
    inputid="map-search-location"
    placeholder="Bitte geben Sie Ihre Postleitzahl oder Ort ein"
    submit-search="request-map-search"
    search=""
    type=search
    change-listener
    delete-listener
    answer-event-name="map-search"
    active-detail-property-name="searchLocation"
  >
    <style>
      :host {
        --search-input-border-radius: 0.5em 0.5em 0 0;
      }
    </style>
  </a-input>
  <m-details namespace="details-default-">
    <details open>
        <summary>
            <h4>Karte</h4>
        </summary>
        <div>
          <ms-m-google-maps search-label="Bitte geben Sie ihre Postleitzahl ein" show-search></ms-m-google-maps>
        </div>
    </details>
  </m-details>
</ms-c-teachers>
