<o-body-style any-content-width-var="min(80%, 1200px)">
  <div><a-button namespace="button-secondary-" href="javascript:history.back()">&#8592; zurück</a-button></div>

  <o-wrapper>
      <div>
                  <div>
                      <a-picture namespace="picture-cover-" defaultsource="http://musigschuel-dev.schenk-smart-solutions.ch/media/cikbhb0s/roland_schenk.jpg?format=png&amp;quality=80&amp;v=1da51f3e129d990" alt="Roland_Schenk.jpg (6)" />
                  </div>

      </div>
      <div>
          <h2>Roland Schenk</h2>
              <address>
                  H&#xF6;rmoos 54 <br />
                  9217 Neukirch an der Thur <br />
                  Thurgau<br />
              </address>
              <a href="mailto:roland.schenk@hoermoos.ch">roland.schenk@hoermoos.ch</a>
          <p class="o-wrapper__text">

          </p>
      </div>
  </o-wrapper>

  <div>
    <div>
        <ms-a-value label="über mich" value="Ich mache Musik aller Art und spiele fast alle Instrumente. Zudem spreche ich viele Sprachen fliessend."></ms-a-value>
    </div>
    <div>
            <ms-a-value label="Stilistik" value="Rock, Metal, Punk, EDM "></ms-a-value>
    </div>


      <ms-a-value label="Unterricht ab" value="8 Jahren"></ms-a-value>

      <ms-a-value label="Sprachen" value="Belarussisch, Bemba, Bena, Zentralkurdisch, Deutsch, Hindi, Interlingua, Ibibio, Koreanisch, Konkani, Vai, Walliserdeutsch"></ms-a-value>

      <h3>Instrumente</h3>
          <ms-a-value label="Akkordeon, Alphorn, Keltische Harfe, Mundharmonika, Kretische Lyra, Laute, Leier, Oboe" value="Privatunterricht&#xD;&#xA;H&#xF6;rmoos 54&#xD;&#xA;9217 Neukirch an der Thur" asAddress="true"></ms-a-value>
          <ms-a-value label="Akkordeon, Alphorn, Keltische Harfe, Mundharmonika, Kretische Lyra, Laute, Leier, Oboe" value="Testschule 2&#xD;&#xA;Bahnhofstrasse&#xD;&#xA;9500 Wil" asAddress="true"></ms-a-value>

      <div>
          <span>Website:</span>
          <a href="https://schenk-smart-solutions.ch">https://schenk-smart-solutions.ch</a>
      </div>
  </div>
</o-body-style>


