<o-body-style any-content-width-var="min(80%, 1200px)">
    <div><a-button namespace="button-secondary-" href="javascript:history.back()">&#8592; zurück</a-button></div>

    <o-wrapper>
        <div>
            <div>
                        <a-picture namespace="picture-cover-" defaultsource="http://musigschuel-dev.schenk-smart-solutions.ch/media/hwql1yv4/tester.jpg?format=png&amp;quality=80&amp;v=1da52ce01a9d960" alt="Tester.jpg" />
            </div>

        </div>
        <div>
            <h2>Tester</h2>

<m-simple-form load-form-styles
               namespace="simple-form-default-"
               endpoint="/api/sendContactMail?sourceLanguage=de-CH"
               method="POST"
               headers="{
                    'Content-Type': 'application/json'
               }"
               mode="same-origin">
    <form>
        <input type="hidden" name="target" value="_self" />
        <input type="hidden" name="teacherId" value="c6c4e763-dddf-4932-bdca-b40181c91288" />

        <div>
            <label validation-message="Bitte gültige Email-Adresse eingeben" for="sender">Deine E-Mail *</label>
            <input id="sender" type="email" required="" value="" name="sender" placeholder="Hier deine Email-Adresse eingeben" autocomplete="off" />
        </div>
        <div>
            <label validation-message="Bitte eine Nachricht eingeben" for="password">Deine Nachricht: *</label>
            <textarea id="message" required="" value="" name="message" placeholder="Hier deine Nachricht eingeben" autocomplete="off"></textarea>
        </div>
        <div>
            <a-ascii-captcha namespace="ascii-captcha-invert-" real-name="ASCII MOUSE" debug>
                <ol>
                    <li>Male das Auge der Katze aus!</li>
                </ol>
<pre>
    _                        
    \`*-.                    
     )  _`-.                 
    .  : `. .                
    : _   '  \               
    ; *` _.   `*-._          
    `-.-'          `-.       
      ;       `       `.     
      :.       .        \    
      . \  .   :   .-'   .   
      '  `+.;  ;  '      :   
      :  '  |    ;       ;-. 
      ; '   : :`-:     _.`* ;
    .*' /  .*' ; .*`- +'  `*'
   `*-*   `*-*  `*-*'        
                              
</pre>
            </a-ascii-captcha>
        </div>
        <div class="inline"><input type="submit" value="Senden" /><div id="response" name="response"></div></div>
    </form>
</m-simple-form>


        </div>
    </o-wrapper>

    <div>
        <div>
            <ms-a-value label="über mich" value="Ich bin eine Bernerin mit Passion f&#xFC;r Musik."></ms-a-value>
        </div>
        <div>
                <ms-a-value label="Stilistik" value="Rock, Metal, Klassik "></ms-a-value>
        </div>


            <ms-a-value label="Unterricht ab" value="10 Jahren"></ms-a-value>

            <ms-a-value label="Sprachen" value="Deutsch, Schweizerdeutsch, Suaheli, Walliserdeutsch"></ms-a-value>



            <br/>
            <hr />
            <br />
            <h3>Instrumente</h3>
                <ms-a-value label="E-Gitarre, Geige, Gitarre, Harfe" value="Privatunterricht&#xD;&#xA;Mustergasse 12&#xD;&#xA;3000 Bern" asAddress="true"></ms-a-value>
                <ms-a-value label="E-Gitarre, Geige, Gitarre, Harfe" value="&#xD;&#xA;Schulstrasse 3&#xD;&#xA;3400 Burgdorf" asAddress="true"></ms-a-value>
            <div>
                <span>Website:</span>
                <a href="hhtp://musigschuel-dev.schenk-smart-solutions.ch">Test</a>
            </div>
    </div>
</o-body-style>