
<div>
    <h1>Musigschuel Rickenbach</h1>
        <div>
            <span style="font-weight: bold">
                Herzlich willkommen bei der Musigschuel Rickenbach
            </span>
        </div>
        <hr />
</div>


<a-picture picture-load sources-delete-query-keys="v" defaultSource="https://musigschuel.ch/media/mo1pq20c/davide_de_perota.jpg?format=webp&amp;quality=80" alt="Davide_De_Perota.jpg"></a-picture><div
    style="
        background-color: var(--color-secondary);
        color: var(--background-color);
        padding: 1rem;
    ">
    <h2 style="
        color: var(--background-color);
        border-bottom: 1px solid var(--background-color)">Angebot</h2>
    <div>
        <p><strong>Unterricht für:</strong></p>
<ul>
<li>Klavier</li>
<li>Gitarre</li>
<li>Schlagzeug</li>
<li>Bass</li>
<li>Unterricht für andere Instrumente auf Anfrage möglich</li>
</ul>
    </div>
</div>

<o-wrapper>
    <style>
        :host p {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
        <div
            style="
                padding: 2rem !important;
                background-color: var(--color-secondary);
                color: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
            "
            >
            <p style="text-align: center;"><strong>10er Abo</strong><br><strong>à</strong><br><strong>30 min</strong><br><br><strong>SFr. 500.-</strong></p>
        </div>
        <div
            style="
                padding: 2rem !important;
                background-color: var(--color-secondary);
                color: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
            "
            >
            <p style="text-align: center;"><strong>20er Abo</strong><br><strong>à</strong><br><strong>30 min</strong><br><br><strong>SFr. 900.-</strong></p>
        </div>
        <div
            style="
                padding: 2rem !important;
                background-color: var(--color-secondary);
                color: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
            "
            >
            <p style="text-align: center;"><strong>10er Abo</strong><br><strong>à</strong><br><strong>60 min</strong><br><br><strong>SFr. 850.-</strong></p>
        </div>
        <div
            style="
                padding: 2rem !important;
                background-color: var(--color-secondary);
                color: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
            "
            >
            <p style="text-align: center;"><strong>20er Abo</strong><br><strong>à</strong><br><strong>60 min</strong><br><br><strong>SFr. 1600.-</strong></p>
        </div>
        <div
            style="
                padding: 2rem !important;
                background-color: var(--color-secondary);
                color: var(--background-color);
                display: flex;
                align-items: center;
                justify-content: center;
            "
            >
            <p style="text-align: center;"><strong>1 Lektion</strong><br><strong>à</strong><br><strong>30 min</strong><br><br><strong>SFr. 30.-</strong></p>
        </div>
</o-wrapper>


<p>Kinder und Jugendliche bis 18 Jahren erhalten einen Rabatt von 20% auf alle Preise.</p><p>Musigschuel Rickenbach<br>Davide De Perota<br>Bachstrasse 17<br>9244 Niederuzwil</p>

    <m-carousel-two history active=11 namespace=carousel-two-default- background-color="var(--background-color)" nav-align-self="end">
        <section>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/34knycs3/guitar-756326_1280.jpg?format=webp&amp;quality=80" alt="Guitar 756326 1280"></a-picture>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/hnrbbb5j/violin-374096_1280.jpg?format=webp&amp;quality=80" alt="Violin 374096 1280"></a-picture>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/ykkj4tdk/piano-349928_1280.jpg?format=webp&amp;quality=80" alt="Piano 349928 1280"></a-picture>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/gexf3aqf/saxophone-546303_1280.jpg?format=webp&amp;quality=80" alt="Saxophone 546303 1280"></a-picture>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/f1ghyorn/drum-set-1839383_1280.jpg?format=webp&amp;quality=80" alt="Drum Set 1839383 1280"></a-picture>
                <a-picture sources-delete-query-keys="v" picture-load defaultSource="https://musigschuel.ch/media/zgedwnuh/guitar-8011240_1920.jpg?format=webp&amp;quality=80" alt="Guitar 8011240 1920"></a-picture>
        </section>
    </m-carousel-two>
