<o-wrapper namespace="wrapper-teaser-"">
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/davide-de-perota/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="Teacher1"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/qj0fulap/teacher1.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da05014c952580"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Davide de Perota</h2>
                    <h3> Klavierunterricht in Wil (SG) im Monatsabo</h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/philipp-poepperl/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="1688559654"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/1sibwsnx/1688559654.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da05014c9cc6a0"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Philipp P&#xF6;pperl</h2>
                    <h3> Schlagzeug-Unterricht, Welfensberg (TG)</h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/peter-gasser/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="1690352754"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/ukvf1at2/1690352754.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da05014ca77500"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Peter Gasser</h2>
                    <h3> Bass Unterricht in Niederhelfenschwil im Monatsabo</h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/fritz-frosch/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="Roland_Schenk.jpg"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/emvfow0c/roland_schenk.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da0cde5acedb70"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Roland Schenk</h2>
                    <h3> Das ist das coolste feature &#xFC;berhaubt, der Text kann auf die Muttersprache des Musiklehrers erfasst werden (DI/IT/FR/EN) und wird dann automatisch in die anderen drei SPrachen &#xFC;bersetzt. Ist das nicht geil?</h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/billy-wirz/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="1688561251"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/xeady4hf/1688561251.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da0cdaa0122b00"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Billy Wirz</h2>
                    <h3> </h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="/schuluebersicht/madeleine-rascher/">
        <figure>
            <a-picture namespace="picture-scale-up-" hover-on-parent-shadow-root-host="" picture-load alt="1669882401"
                       defaultSource="http://musigschuel-dev.schenk-smart-solutions.ch/media/kbgaytj2/1669882401.jpg?width=460&amp;height=600&amp;format=png&amp;quality=80&amp;v=1da0cdcccf074e0"></a-picture>
            <figcaption>
                <div>
                    <h2 class="line-height-one-em">Madeleine Rascher</h2>
                    <h3> Stimmbildung, B&#xFC;hnen-Pr&#xE4;senz, Songinterpretation, Songwriting.&#xA;Fingersatz, effizientes Spielen, Tonleitern, Melodien, Stimmungen verstehen, andere und sich selbst begleiten lernen.</h3>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>